body {
  background-color: rgb(26, 28, 46);
  color: #ffffff;
  font-family: "arial";
  min-height: 300px;
  width: auto;
  /* border: 10px solid red; */
  overflow: hidden;
  box-sizing: border-box;
}

.main {
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
  /* border: 10px solid yellow; */
  /* box-sizing: border-box; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.time_btn_cntrl {
  display: flex;
}
.timer {
  font-size: 8.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 10px solid green; */
  box-sizing: border-box;
  overflow: hidden;
}

.tl {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.rest-buttons,
.round-buttons {
  flex: auto;
  box-sizing: border-box;
}

.rounds,
.rest {
  font-size: 2em;
  /* display: flex;
  flex-grow: 1; */
  margin: 0.5rem;
  flex: auto;
}

.rest {
  /* border: 5px solid orange; */
}

.rounds {
  /* border: 5px solid gray; */
  min-height: 41vh;
}

.rounds_cont,
.rounds_total,
.slash,
.rest_display {
  font-size: 5em;
  display: inline;
  margin: 0.05em;
  padding: 0.02em;
  border-radius: 8px;
}

#strtBtn,
#resetBtn {
  font-size: 2em;
  padding: 0.5em;
  border-radius: 30px;
  font-weight: bold;
}

.time-buttons {
  background-color: #2c18da;
  color: #fff;
  font-size: 2em;
  /* width: 7%; */
  border-radius: 30px;
  box-shadow: 0 2px #0c0c0c;
  flex: 1; /* Flex and grow equally */
  padding: 15px;
  border: 1px solid #ccc;
  margin: 5px;
  text-align: center;
}
.time-buttons:hover {
  background-color: #4e3de4;
  cursor: pointer;
}

.round-buttons,
.rest-buttons:hover {
  background-color: #4e3de4;
  cursor: pointer;
}

.rest_display {
  display: block;
}

.round-buttons,
.rest-buttons {
  background-color: #2c18da;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50px;
  box-shadow: 0 1px #0c0c0c;
  width: fit-content;
  /* flex: 1;s */
  box-sizing: border-box;
}

.str_reset_btn_container {
  display: flex;
}

.strt,
.reset {
  background-color: aqua;
  color: #5c1c1c;
  margin-top: 5px;
  width: 15%;
  flex: 1;
  /* position: relative; */
  /* left: 42%; */
}

.strt,
.reset:hover {
  background-color: rgb(106, 253, 253);
  color: black;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------- */
@media (max-width: 600px) {
  body {
    /* background-color: #d6afaf;
    color: yellow; */
    font-size: small;
  }
  .container {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  .round-buttons,
  .rest-buttons {
    font-size: 2em;
    flex: 1;
    width: fit-content;
  }

  .rounds_cont,
  .rounds_total,
  .slash,
  .rest_display {
    font-size: 5em;
    /* display: inline; */
  }

  .rounds,
  .rest {
    font-size: 1em;
  }
  .rest {
    margin-bottom: 140px;
  }
}

/* .sdfsd {
  width: fit-contentl
} */
